<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title | escape }} | pyspread</title>
  {% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}">{%endif%}
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="apple-touch-icon" href="{{page.parent}}images/pyspread.png"/>
  <link rel="shortcut icon" href="{{page.parent}}images/pyspread.png"/>

  <link href="{{page.parent}}static/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{{page.parent}}static/css/code_highlight.css"/>
  <link rel="stylesheet" href="{{page.parent}}static/css/pyspread.2019.css"/>

</head>
<body>

    {% include navbar.html %}


    <div class="container main">

        {% assign prev_butt = null %}
        {% assign next_butt = null %}

        {% if page.section == "manual" %}
        <div class="row no-gutters">
            <div class="col-md-11">
                <h1 class="manual">{{page.title}}</h1>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-light dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        ><i class="fa fa-arrow-up"></i>&nbsp;Index
                </button>
                <div class="dropdown-menu">
                    {% for n in site.data.manual_nav %}{% if n.url == page.url %}###{% endif %}
                        {% assign n_page = n.url | split: "." %}
                        {% assign p_page = page.name | split: "." %}
                        {% if n_page[0] == p_page[0] %}
                            {% if forloop.index0 > 0 %}
                                {% assign idxx = forloop.index0 | minus: 1 %}
                                {% assign prev_butt = site.data.manual_nav[idxx] %}
                            {% endif %}
                            {% if forloop.last == false %}
                                {% assign idxx = forloop.index0 | plus: 1 %}
                                {% assign next_butt = site.data.manual_nav[idxx] %}
                            {% endif %}
                        {% endif %}
                        <a class="dropdown-item" href="{{n.url}}">{% if n_page[0] == p_page[0]  %}&#8658;{%else%}&nbsp;{%endif%}&nbsp;{{n.title}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}


        {{content}}

        {% if page.section == "manual" %}
        <div class="row">
            <div class="col-md-1">
                {% if prev_butt %}
                    <a href="{{prev_butt.url}}" class="btn btn-light">&#8610;&nbsp;{{prev_butt.title}}</a>
                {% endif %}
            </div>
            <div class="col-md-10"></div>
            <div class="col-md-1">
                {% if next_butt %}
                    <a href="{{next_butt.url}}" class="btn btn-light">{{next_butt.title}}&nbsp;&#8611;</a>
                {% endif %}
            </div>
        </div>
        {% endif %}

    </div>

    <footer>
        <div class="container">
            <!--<p><small><a href="https://gitlab.com/pyspread/pyspread.gitlab.io/blob/master/{{page.path}}">Edit this page: {{page.path}}</a></small></p>-->
            <p>&copy; Martin Manns and the pyspread team</p>
        </div>
    </footer>
</body>
</html>
